body{
    padding: 2em 5em 2em 5em;
}

#section1, #section2, #section3{
    border: 5px solid black;
    padding: 3.5px 8px 3.5px 8px;
}

section h2,p{ /* Section title(s) */
    font-family: 'Unbounded';
    padding-left: 12px;
    line-height: 1.75em;
}

#section1 li{
    line-height: 1.75em;
}

footer li{
    font-size: 20px;
    line-height: 1.75em;
}